<h2>My name is Jeffrey Henderson</h2>
<h2>Thank you for visiting my portfolio site</h2>
<h2 style="color:red;">this site is still under construction</h2>

<p>please come back soon!</p>
<p>
  The time is now: <%= Time.now %>
</p>
